#main-article-economy {
  width: 100vw;
  height: fit-content;
  position: relative;
  display: flex;
}

div.top-line {
  width: 51vw;
  height: 3px;
  background-color: #111111;
  transform: translate(5.5%);
  margin-bottom: 10px;
}

div.bottom-line {
  width: 63vw;
  height: 1px;
  background-color: #ccc;
  transform: translate(5.5%);
  margin-bottom: 10px;
}

#main-article-economy > div.left-content-economy {
  width: 70%;
  height: fit-content;
}

#main-article-economy > div.right-content-economy {
  width: 30%;
  display: flex;
  flex-direction: column;
}

div.left-content-economy > section {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 10px;
}

div.left-content-economy > section > h1 {
  margin-bottom: 20px;
  transform: translateX(5%);
}

div.left-content-economy
  > section
  > div.first-content-section
  > div.image-section-container
  > p {
  margin-top: 10px;
}

div.left-content-economy
  > section
  > div.first-content-section
  > div.image-section-container
  > img {
  width: 24vw;
  height: 13.5vw;
}

div.left-content-economy > section > div.first-content-section {
  width: 100%;
  height: 100%;
  display: flex;
}

div.left-content-economy
  > section
  > div.first-content-section
  > div.image-section-container {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#main-article-economy > div.right-content-economy > div.right-wrapper-economy {
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

#main-article-economy
  > div.right-content-economy
  > div.right-wrapper-economy
  > aside
  > div.aside-ad-container,
div.newsletter-container,
div.ebook-container {
  width: 80%;
  height: 40vh;
  margin-bottom: calc(5vh + 12px);
  margin-top: calc(5vh + 12px);
  border: 1px solid #ccc;
}

#main-article-economy > div.right-content-economy > div.right-wrapper-economy > aside > div.psycho-log {
  width: 80%;
  height: calc(80vh - 12px);
  border: 1px solid #ccc;
}
