#main-article {
  width: 100vw;
  height: fit-content;
  position: relative;
  display: flex;
}

div.top-line {
  width: 63vw;
  height: 3px;
  background-color: #111111;
  transform: translate(5.5%);
  margin-bottom: 10px;
}

div.bottom-line {
  width: 63vw;
  height: 1px;
  background-color: #ccc;
  transform: translate(5.5%);
  margin-bottom: 10px;
}

#main-article > div.left-content {
  width: 70%;
  height: fit-content;
}

#main-article > div.right-content {
  width: 30%;
  display: flex;
  flex-direction: column;
}

div.left-content > section {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-top: 10px;
}

div.left-content > section > h1 {
  margin-bottom: 20px;
  transform: translateX(5%);
}

div.left-content
  > section
  > div.first-content-section
  > div.image-section-container
  > p {
  margin-top: 10px;
}

div.left-content
  > section
  > div.first-content-section
  > div.image-section-container
  > img {
  width: 24vw;
  height: 13.5vw;
}

div.left-content > section > div.first-content-section {
  width: 100%;
  height: 100%;
  display: flex;
}

div.left-content
  > section
  > div.first-content-section
  > div.image-section-container {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#main-article > div.right-content > div.right-wrapper {
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

#main-article
  > div.right-content
  > div.right-wrapper
  > aside
  > div.aside-ad-container,
div.newsletter-container,
div.ebook-container {
  width: 80%;
  height: 40vh;
  margin-bottom: calc(5vh + 12px);
  margin-top: calc(5vh + 12px);
  border: 1px solid #ccc;
}

#main-article > div.right-content > div.right-wrapper > aside > div.psycho-log {
  width: 80%;
  height: calc(80vh - 12px);
  border: 1px solid #ccc;
}

#main-article
  > div.right-content
  > div.right-wrapper
  > aside
  > div.newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav > div.login-pop-up > div > div > input {
  width: 60%;
  border-radius: 0.275rem;
  border: 1.5px solid var(--primary-color);
  padding: 10px;
  background-color: #ccc;
  padding-left: 32px;
}

nav > div.login-pop-up > div > div > .mail-icon {
  position: absolute;
  transform: translateX(10px) translateY(10px);
}

#main-article
  > div.right-content
  > div.right-wrapper
  > aside
  > div.newsletter-container
  > button {
  width: 65%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 0.275rem;
  border: 1.5px solid var(--primary-color);
  background-color: #ccc;
}

#main-article
  > div.right-content
  > div.right-wrapper
  > aside
  > div.newsletter-container
  > button:hover {
  cursor: pointer;
}

#main-article
  > div.right-content
  > div.right-wrapper
  > aside
  > div.newsletter-container
  > div.newsletter-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#main-article
  > div.right-content
  > div.right-wrapper
  > aside
  > div.newsletter-container
  > div.newsletter-content
  > .mail-icon {
  position: absolute;
}

#main-article
  > div.right-content
  > div.right-wrapper
  > aside
  > div.newsletter-container
  > div.newsletter-content
  > input#input-email {
  width: 60%;
  border-radius: 0.275rem;
  border: 1.5px solid var(--primary-color);
  padding: 10px;
  background-color: #ccc;
  padding-left: 32px;
}

#main-article
  > div.right-content
  > div.right-wrapper
  > aside
  > div.newsletter-container
  > div.newsletter-content
  > button:hover {
  cursor: pointer;
}

#main-article
  > div.right-content
  > div.right-wrapper
  > aside
  > div.newsletter-container
  > div.newsletter-content
  > button {
  width: 50%;
  height: auto;
  padding: 10px;
  margin-top: 20px;
}

#main-article
  > div.right-content
  > div.right-wrapper
  > aside
  > div.newsletter-container
  > div.newsletter-content
  > p {
  height: auto;
  font-size: 152%;
  margin-top: 50px;
}

#main-article
  > div.right-content
  > div.right-wrapper
  > aside
  > div.newsletter-container
  > div.newsletter-content
  > h2 {
  letter-spacing: 2pt;
}
