section#home-economy {
  width: 100vw;
  height: calc(100vh - 120px);
  position: relative;
  top: 120px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
}

div.main-top-container-economy {
  width: 1110px;
  height: 100%;
  display: flex;
  margin-left: 100px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

div.main-top-container-economy > div.right-main-top-container-economy {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


div.main-top-container-economy > div.right-main-top-container-economy > a > img {
  width: 100%;
  height: 100%;
}

div.main-bottom-container-economy {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.main-bottom-container-economy > div.ad-container-economy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  width: 90%;
  height: 70%;
  border: 1px solid #ccc;
}

/* Carrousel */
