nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
}

div.logo > a#logo > img {
  width: auto;
  height: calc(9px * 20);
}

div.nav-wrapper > div.logo-menu {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.nav-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.nav-wrapper > div.logo-menu > div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  transform: translateX(-45px);
}

div.logo-menu > h1 {
  margin-left: 10px;
}

div.logo-menu > a {
  margin-left: 64px;
}

.form-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-grid > input#search {
  border-radius: 1rem;
  border: 1.5px solid var(--primary-color);
  width: 300px;
  height: 30px;
  margin-right: 50px;
  padding-left: 30px;
}

.switch-search {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: auto;
  height: 100%;
  margin-right: 52px;
}

.switch-search > input::placeholder {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
}

.switch-search > input {
  width: 512px;
  height: 30px;
  margin-right: 50px;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1.5px solid var(--primary-color);
  padding-left: 20px;
  background-color: #ccc;
  outline: none;
}

.switch-search > button {
  border-radius: 0.5rem 0 0 0.5rem;
  width: 38px;
  height: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}

.switch-search > button:hover {
  cursor: pointer;
}

div.logo-menu > div > button.hamburguer-menu {
  display: flex;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  outline: 0;
  border: 0;
  margin-left: -10px;
}

div.logo-menu > div > button.hamburguer-menu:hover {
  cursor: pointer;
}

div.logo-menu > div > button.hamburguer-menu > span {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 300;
  padding-left: 12px;
}

div.navbar.open {
  display: flex;
  left: 0;
  animation: start 0.5s;
}

div.navbar {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 96px;
  left: -300px;
  min-width: 230px;
  max-width: 300px;
  height: calc(100vh - 96px);
  background-color: whitesmoke;
  animation: end 0.5s;
}

ul {
  margin-top: 20px;
  width: 100%;
}

li {
  padding: 8px;
  width: 230px;
  padding-right: 10px;
  margin-top: 13px;

  /* border-bottom: 1px solid #ccc; */
}

li > a {
  margin-left: 10px;
}

div.logo > a#logo > p {
  color: #111111;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 38px;
}

@keyframes start {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

@keyframes end {
  0% {
    left: 0;
  }
  100% {
    left: -300px;
  }
}

@media (min-width: 1024px) {
  nav > div.newsletter-wrapper {
    width: 100vw;
    height: 40px;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100px;
    background-color: var(--primary-color);
  }
}

@media (min-width: 768px) {
  a#logo > p {
    font-size: 20px;
  }

  nav > div.newsletter-wrapper {
    width: 100vw;
    height: 50px;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 120px;
    background-color: var(--primary-color);
  }
}

@media (max-width: 768px) {
  body {
    width: 100vw;
  }

  div.logo-menu h1 {
    display: none;
  }
  nav {
    width: 100vw;
  }
}
