@charset "UTF-8";

/* LINHA */

.linha {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;

}


/* TITULO */

.titulo-economia-global {
    font-size: 2rem;
}


/* MARGIN */

.margin-noticia-economia-global-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* BORDA */

.borda-noticia {
    border: 2px solid black;
}


/* TAMANHO DA NOTOCIA */

.tamanho-noticia-economia-global {
    width: 100%;
    height: 230px;
}

/* INPUTS */

.input-email {
    width: 80%;
}

.input-button {
    margin-top: 1.2rem;
}